In [5]:
# Import pandas as pd
import pandas as pd

# Read the CSV and assign it to the variable data
data = pd.read_excel("fcc-new-coder-survey.xlsx")

# View the first few lines of data
data.head(5)

,"FreeCodeCamp New Developer Survey Responses, 2016",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 88,Unnamed: 89,Unnamed: 90,Unnamed: 91,Unnamed: 92,Unnamed: 93,Unnamed: 94,Unnamed: 95,Unnamed: 96,Unnamed: 97
0,Source: https://www.kaggle.com/freecodecamp/20...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Age,AttendedBootcamp,BootcampFinish,BootcampLoanYesNo,BootcampName,BootcampRecommend,ChildrenNumber,CityPopulation,CodeEventConferences,CodeEventDjangoGirls,...,ResourcePluralSight,ResourceSkillCrush,ResourceStackOverflow,ResourceTreehouse,ResourceUdacity,ResourceUdemy,ResourceW3Schools,SchoolDegree,SchoolMajor,StudentDebtOwe
2,28,0,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"some college credit, no degree",NaN,20000
3,22,0,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1,NaN,"some college credit, no degree",NaN,NaN
4,19,0,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,high school diploma or equivalent (GED),NaN,NaN

In [6]:
data.head(100)

,"FreeCodeCamp New Developer Survey Responses, 2016",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 88,Unnamed: 89,Unnamed: 90,Unnamed: 91,Unnamed: 92,Unnamed: 93,Unnamed: 94,Unnamed: 95,Unnamed: 96,Unnamed: 97
0,Source: https://www.kaggle.com/freecodecamp/20...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Age,AttendedBootcamp,BootcampFinish,BootcampLoanYesNo,BootcampName,BootcampRecommend,ChildrenNumber,CityPopulation,CodeEventConferences,CodeEventDjangoGirls,...,ResourcePluralSight,ResourceSkillCrush,ResourceStackOverflow,ResourceTreehouse,ResourceUdacity,ResourceUdemy,ResourceW3Schools,SchoolDegree,SchoolMajor,StudentDebtOwe
2,28,0,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"some college credit, no degree",NaN,20000
3,22,0,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1,NaN,"some college credit, no degree",NaN,NaN
4,19,0,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,high school diploma or equivalent (GED),NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,32,1,1,0,Codify Academy,0,NaN,"between 100,000 and 1 million",NaN,NaN,...,NaN,NaN,NaN,NaN,1,NaN,NaN,bachelor's degree,Biology,NaN
96,35,0,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,master's degree (non-professional),Linguistics,NaN
97,16,0,NaN,NaN,NaN,NaN,NaN,"less than 100,000",NaN,NaN,...,1,NaN,NaN,NaN,NaN,NaN,NaN,some high school,NaN,NaN
98,23,0,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"some college credit, no degree",NaN,7000
99,26,1,1,0,DaVinci Coders,0,NaN,more than 1 million,1,NaN,...,1,NaN,NaN,NaN,NaN,1,NaN,master's degree (non-professional),Music,80000

In [17]:
# Create string of lettered columns to load
col_string = "AD, AW:BA"

# Load data with skiprows and usecols set
survey_responses = pd.read_excel("fcc-new-coder-survey.xlsx", 
                                 skiprows=2, 
                                 usecols=col_string)

# View the names of the columns selected
print(survey_responses.columns)

Index(['ExpectedEarning', 'JobApplyWhen', 'JobPref', 'JobRelocateYesNo',
       'JobRoleInterest', 'JobWherePref'],
      dtype='object')

In [28]:
survey_responses.groupby("JobPref").count()

,ExpectedEarning,JobApplyWhen,JobRelocateYesNo,JobRoleInterest,JobWherePref
JobPref,,,,,
freelance,0,0,0,0,0
start your own business,0,0,0,0,0
work for a medium-sized company,219,239,186,239,240
work for a multinational corporation,67,72,55,71,72
work for a startup,107,120,91,119,120

In [8]:
survey_responses.head(5)

,ExpectedEarning,JobApplyWhen,JobPref,JobRelocateYesNo,JobRoleInterest,JobWherePref
0,NaN,NaN,freelance,NaN,NaN,NaN
1,50000.0,Within the next 6 months,work for a startup,1.0,Front-End Web Developer,in an office with other developers
2,NaN,NaN,start your own business,NaN,NaN,NaN
3,65000.0,Within the next 6 months,work for a startup,NaN,Front-End Web Developer,from home
4,45000.0,Within the next 6 months,work for a medium-sized company,1.0,Full-Stack Web Developer,in an office with other developers

Selecting all sheets adn append them into 1 data drame

In [9]:
#Reading Multiple sheets
sheets = pd.read_excel("fcc-new-coder-survey.xlsx",sheet_name=None)

In [12]:
sheets = pd.read_excel("fcc-new-coder-survey.xlsx",sheet_name=1)

In [16]:
# Create df from second worksheet by referencing its position
responses_2017 = pd.read_excel("fcc-new-coder-survey.xlsx",
                               sheet_name='2017')

# Graph where people would like to get a developer job
job_prefs = responses_2017.groupby("JobPref").JobPref.count()
job_prefs.plot.barh()
plt.show()

KeyError: 'JobPref'

In [30]:
# Load both the 2016 and 2017 sheets by name
all_survey_data = pd.read_excel("fcc-new-coder-survey.xlsx",
                                sheet_name=['2016', '2017'])

# View the data type of all_survey_data
print(type(all_survey_data))

<class 'dict'>

In [31]:
# Load all sheets in the Excel file
all_survey_data = pd.read_excel("fcc-new-coder-survey.xlsx",
                                sheet_name=[0,'2017'])

# View the sheet names in all_survey_data
print(all_survey_data.keys())

dict_keys([0, '2017'])

In [57]:
#Reading Multiple sheets
all_data = pd.read_excel("fcc-new-coder-survey.xlsx",sheet_name=None,skiprows=2)

In [58]:
combined_dataframe = pd.DataFrame()

for i in all_data.values():
     print("Adding {} rows".format(i.shape[0]))
     combined_dataframe = combined_dataframe.append(i)
#counts = combined_dataframe.groupby("EmploymentStatus").EmploymentStatus.count()     
combined_dataframe.head(1)

Adding 1000 rows
Adding 1000 rows

,Age,AttendedBootcamp,BootcampFinish,BootcampLoanYesNo,BootcampName,BootcampRecommend,ChildrenNumber,CityPopulation,CodeEventConferences,CodeEventDjangoGirls,...,ResourcePluralSight,ResourceSkillCrush,ResourceStackOverflow,ResourceTreehouse,ResourceUdacity,ResourceUdemy,ResourceW3Schools,SchoolDegree,SchoolMajor,StudentDebtOwe
0,28.0,0.0,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"some college credit, no degree",NaN,20000

2016       FreeCodeCamp New Developer Survey Responses, 2016        Unnamed: 1  \
0     Source: https://www.kaggle.com/freecodecamp/20...               NaN
1                                                   Age  AttendedBootcamp
2                                                    28                 0
3                                                    22                 0
4                                                    19                 0
...                                                 ...               ...
997                                                  35                 0
998                                                  19                 0
999                                                  25                 0
1000                                                 28                 0
1001                                                 39                 0

          Unnamed: 2         Unnamed: 3    Unnamed: 4         Unnamed: 5  \
0                NaN                NaN           NaN                NaN
1     BootcampFinish  BootcampLoanYesNo  BootcampName  BootcampRecommend
2                NaN                NaN           NaN                NaN
3                NaN                NaN           NaN                NaN
4                NaN                NaN           NaN                NaN
...              ...                ...           ...                ...
997              NaN                NaN           NaN                NaN
998              NaN                NaN           NaN                NaN
999              NaN                NaN           NaN                NaN
1000             NaN                NaN           NaN                NaN
1001             NaN                NaN           NaN                NaN

          Unnamed: 6                     Unnamed: 7            Unnamed: 8  \
0                NaN                            NaN                   NaN
1     ChildrenNumber                 CityPopulation  CodeEventConferences
2                NaN  between 100,000 and 1 million                   NaN
3                NaN  between 100,000 and 1 million                   NaN
4                NaN            more than 1 million                   NaN
...              ...                            ...                   ...
997              NaN            more than 1 million                   NaN
998              NaN  between 100,000 and 1 million                   NaN
999              NaN  between 100,000 and 1 million                   NaN
1000               1              less than 100,000                   NaN
1001               4  between 100,000 and 1 million                   NaN

                Unnamed: 9  ...          Unnamed: 88         Unnamed: 89  \
0                      NaN  ...                  NaN                 NaN
1     CodeEventDjangoGirls  ...  ResourcePluralSight  ResourceSkillCrush
2                      NaN  ...                  NaN                 NaN
3                      NaN  ...                  NaN                 NaN
4                      NaN  ...                  NaN                 NaN
...                    ...  ...                  ...                 ...
997                    NaN  ...                  NaN                 NaN
998                    NaN  ...                  NaN                 NaN
999                    NaN  ...                  NaN                 NaN
1000                   NaN  ...                  NaN                 NaN
1001                   NaN  ...                    1                 NaN

                Unnamed: 90        Unnamed: 91      Unnamed: 92  \
0                       NaN                NaN              NaN
1     ResourceStackOverflow  ResourceTreehouse  ResourceUdacity
2                       NaN                NaN              NaN
3                       NaN                NaN              NaN
4                       NaN                NaN              NaN
...                     ...                ...              ...
997                     NaN                NaN              NaN
998                     NaN                NaN              NaN
999                     NaN                NaN              NaN
1000                    NaN                NaN              NaN
1001                    NaN                NaN                1

        Unnamed: 93        Unnamed: 94  \
0               NaN                NaN
1     ResourceUdemy  ResourceW3Schools
2               NaN                NaN
3                 1                NaN
4               NaN                NaN
...             ...                ...
997             NaN                NaN
998             NaN                NaN
999             NaN                NaN
1000            NaN                NaN
1001            NaN                NaN

                                   Unnamed: 95              Unnamed: 96  \
0                                          NaN                      NaN
1                                 SchoolDegree              SchoolMajor
2               some college credit, no degree                      NaN
3               some college credit, no degree                      NaN
4      high school diploma or equivalent (GED)                      NaN
...                                        ...                      ...
997    professional degree (MBA, MD, JD, etc.)   Information Technology
998    high school diploma or equivalent (GED)                      NaN
999                          bachelor's degree  Business Administration
1000            some college credit, no degree                      NaN
1001  trade, technical, or vocational training                      NaN

         Unnamed: 97
0                NaN
1     StudentDebtOwe
2              20000
3                NaN
4                NaN
...              ...
997              NaN
998              NaN
999              NaN
1000            5500
1001             NaN

[1002 rows x 98 columns]
2017       FreeCodeCamp New Developer Survey Responses, 2017        Unnamed: 1  \
0     Source: https://www.kaggle.com/fccuser/the-fre...               NaN
1                                                   Age  AttendedBootcamp
2                                                    27                 0
3                                                    34                 0
4                                                    21                 0
...                                                 ...               ...
997                                                  30                 0
998                                                  31                 0
999                                                  16                 0
1000                                                 28                 0
1001                                                 22                 0

          Unnamed: 2         Unnamed: 3    Unnamed: 4         Unnamed: 5  \
0                NaN                NaN           NaN                NaN
1     BootcampFinish  BootcampLoanYesNo  BootcampName  BootcampRecommend
2                NaN                NaN           NaN                NaN
3                NaN                NaN           NaN                NaN
4                NaN                NaN           NaN                NaN
...              ...                ...           ...                ...
997              NaN                NaN           NaN                NaN
998              NaN                NaN           NaN                NaN
999              NaN                NaN           NaN                NaN
1000             NaN                NaN           NaN                NaN
1001             NaN                NaN           NaN                NaN

          Unnamed: 6                     Unnamed: 7            Unnamed: 8  \
0                NaN                            NaN                   NaN
1     ChildrenNumber                 CityPopulation  CodeEventConferences
2                NaN            more than 1 million                   NaN
3                NaN              less than 100,000                   NaN
4                NaN            more than 1 million                   NaN
...              ...                            ...                   ...
997              NaN  between 100,000 and 1 million                   NaN
998              NaN              less than 100,000                   NaN
999              NaN              less than 100,000                   NaN
1000             NaN  between 100,000 and 1 million                   NaN
1001             NaN            more than 1 million                   NaN

                Unnamed: 9  ...          Unnamed: 88         Unnamed: 89  \
0                      NaN  ...                  NaN                 NaN
1     CodeEventDjangoGirls  ...  ResourcePluralSight  ResourceSkillCrush
2                      NaN  ...                  NaN                 NaN
3                      NaN  ...                  NaN                 NaN
4                      NaN  ...                  NaN                 NaN
...                    ...  ...                  ...                 ...
997                    NaN  ...                  NaN                 NaN
998                    NaN  ...                  NaN                 NaN
999                    NaN  ...                  NaN                 NaN
1000                   NaN  ...                  NaN                 NaN
1001                   NaN  ...                  NaN                 NaN

                Unnamed: 90        Unnamed: 91      Unnamed: 92  \
0                       NaN                NaN              NaN
1     ResourceStackOverflow  ResourceTreehouse  ResourceUdacity
2                       NaN                NaN              NaN
3                         1                NaN              NaN
4                       NaN                NaN                1
...                     ...                ...              ...
997                     NaN                NaN              NaN
998                     NaN                  1              NaN
999                       1                NaN              NaN
1000                      1                NaN              NaN
1001                      1                NaN              NaN

        Unnamed: 93        Unnamed: 94  \
0               NaN                NaN
1     ResourceUdemy  ResourceW3Schools
2                 1                  1
3                 1                  1
4                 1                NaN
...             ...                ...
997             NaN                NaN
998             NaN                NaN
999             NaN                  1
1000            NaN                NaN
1001            NaN                NaN

                                  Unnamed: 95                  Unnamed: 96  \
0                                         NaN                          NaN
1                                SchoolDegree                  SchoolMajor
2              some college credit, no degree                          NaN
3              some college credit, no degree                          NaN
4     high school diploma or equivalent (GED)                          NaN
...                                       ...                          ...
997                         bachelor's degree                    Chemistry
998                        associate's degree         Computer Programming
999                                       NaN                          NaN
1000                        bachelor's degree                      Finance
1001                       associate's degree  Computer Aided Design (CAD)

         Unnamed: 97
0                NaN
1     StudentDebtOwe
2                NaN
3                NaN
4                NaN
...              ...
997              NaN
998             1500
999              NaN
1000           20000
1001             NaN

[1002 rows x 98 columns]